<%- include("_header") -%>

<h1>List of job openings (<%= model.length %>)</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>공고_id</th>
        <th>회사_id</th>
        <th>채용포지션</th>
        <th>채용보상금</th>
        <th>채용내용</th>
        <th>사용기술</th>
      </tr>
    </thead>
    <tbody>
      <% for (const job of model) { %>
      <tr>
        <td><%= job.job_id %></td>
        <td><%= job.company_id %></td>
        <td><%= job.position %></td>
        <td><%= job.compensation %></td>
        <td><%= job.job_description %></td>
        <td><%= job.tech %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("_footer") -%>
